PHILSMS_API_TOKEN=2901|gfcRspDCAXFDfOty6mhSQ2tiUDzNU1PA79uDOFCp0d0e01ed 
PHILSMS_SENDER_ID=SagipBayan
SMS_MAX_LENGTH=100

EMAIL_FROM=sagipbayan007@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sagipbayan007@gmail.com
SMTP_PASS=wymn wzst oxib nzfu
SMTP_SECURE=false
